body{
    width: 100%;
    background-image:url(PlanoDeFundo1.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size:100%;
}
h1{
    color: #0e4ddf;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
p{
    color: #767a82;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;  
}
h2{
    color: #64e164;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;  
}
h3{
    color: #888a91;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;  
}
.jogodosestagiarios{
    height: 200px;
    width: 90%;
    background-color: white;
    margin: 0 auto;
}
.container{
    text-align: center;
}
.MariaSemGraças{
    text-align: center;
    border: 3px solid yellow;
    border-radius: 10%;
}

.rodape{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-style: 5px; 
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
